<?xml version="1.0" encoding="utf-8"?>
<launch>
r
   <include file="$(find sia_7f_arm_moveit_config)/launch/move_group.launch">
    <arg name="publish_monitored_planning_scene" value="true" />
   </include>

   <include file="$(find sia_7f_arm_moveit_config)/launch/moveit_rviz.launch">
      <arg name="config" value="true" />
   </include>
</launch>
